# Owner of the original repository
* @vojinpavlovic

# Maintainer of this fork:
* @fiefevictionnotice

# Docs team, responsible for everything in the 'docs' directory
/docs/ @vojinpavlovic

# Specific file ownership:
readme.md @vojinpavlovic
